body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.background {
    width: 80%;
    padding: 1.3rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1.5rem;
}